/* html {
  background-color: white;
} */

container {
  height: 100%;
  width: 100%;
}

.transparent {
  opacity: 0;
}

.hero-block {
  min-height: 20rem;
  max-height: 25rem;
}

.show-text {
  opacity: 1;
  color: #000000;
}

.text-block {
  max-width: 40rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.left-align {
  text-align: left;
}

.vertical-center {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.splitter-rect {
  margin: auto;
  max-height: 25rem;
  width: 2px;
  background-color: #ffffff;
  position: relative;
  z-index: 0;
}

.inner-content {
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex: 1;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.icon {
  display: block;
  float: left;
  max-height: 20rem;

  opacity: 0;
  padding-right: 1vh;
  padding-left: 1vh;
}

.centered-icon {
  width: 100%;
  float: center;
  max-height: 10vh;
  max-height: 25vh;

  opacity: 0;
}

.title-content {
  height: 100%;
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: column;

  justify-content: center;
  align-items: left;

  padding-right: 1vh;
  padding-left: 1vh;
}

.title {
  color: black;
  text-align: center;
  z-index: 1;
  margin-bottom: 0px;
  opacity: 0;
}

.small-title {
  font-size: 10px;
  color: black;
  text-align: center;
  z-index: 1;
  margin-bottom: 0px;
  opacity: 0;
}
